aiofiles @ file:///build/python-aiofiles/src/aiofiles/dist/aiofiles-0.7.0-py3-none-any.whl
aiohttp==3.7.4.post0
aiohttp-socks==0.4.2
aioredis==1.3.1
aiorpcX==0.18.7
alembic==1.7.1
amqp==5.0.2
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.17.0
asgiref==3.4.1
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
autobahn==20.12.3
Automat==20.2.0
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
bitstring==3.1.9
bleach==4.1.0
blinker==1.4
Brlapi==0.8.2
btrfsutil==5.13.1
CacheControl==0.12.6
cached-property==1.5.2
cairocffi==1.2.0
catfish==4.16.2
celery==5.0.5
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.5.30
cffi==1.14.6
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
commonmark==0.9.1
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.8
cupshelpers==1.0
daphne==3.0.1
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.2
distro==1.5.0
dj-rest-auth==1.1.2
Django==3.2.5
django-allauth==0.45.0
django-anymail==8.1
django-ckeditor==6.0.0
django-common-helpers==0.9.2
django-cors-headers==3.7.0
django-crispy-forms==1.12.0
django-cron==0.5.1
django-debug-toolbar==3.2.1
django-extensions==3.1.3
django-filter==2.4.0
django-import-export==2.5.0
django-jazzmin==2.4.7
django-js-asset==1.2.2
django-tables2==2.3.4
django-tinymce==3.2.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.6.0
dnspython==1.16.0
docker==5.0.2
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
ecdsa==0.17.0
Electrum==4.1.3
email-validator==1.1.3
entrypoints==0.3
et-xmlfile==1.1.0
extras==1.0.0
Faker==8.12.1
filelock==3.0.12
fire==0.4.0
fixtures==3.0.0
Flask==2.0.1
Flask-BabelEx==0.9.4
Flask-Compress==1.8.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.0.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security-Too==4.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
geographiclib==1.52
geopy==2.2.0
gssapi==1.6.14
gufw==21.4.0
gunicorn==20.1.0
h11==0.12.0
hiredis==1.1.0
html5lib==1.1
httptools==0.3.0
hyperlink==21.0.0
idna==3.2
importlib-metadata==4.8.1
incremental==17.5.0
inflection==0.5.1
ipykernel==6.0.3
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isc==2.0
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
Jinja2==3.0.1
jiofi==0.1.3
jsonrpclib-pelix==0.4.2
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kombu==5.0.2
ldap3==2.9
lensfun==0.3.95
libfdt==1.6.1
lightdm-gtk-greeter-settings==1.2.2
lit==12.0.1.dev0
lockfile==0.12.2
louis==3.19.0
lxml==4.6.1
Mako==1.1.5
Markdown==3.3.4
MarkupPy==1.14
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
meson==0.59.1
mistune==0.8.4
more-itertools==8.8.0
msgpack==1.0.2
multidict==5.1.0
mypy==0.910
mypy-extensions==0.4.3
mysql-connector-python==8.0.22
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
notebook==6.4.3
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.0.7
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.6.3/target/wheels/orjson-3.6.3-cp39-cp39-linux_x86_64.whl
packaging==20.9
pandas==1.2.0
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.2
passlib==1.7.4
pbkdf2==1.3
pbr==5.6.0
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
pikaur==1.7
Pillow==8.3.1
pipenv==2021.5.29
platformdirs==2.0.2
ply==3.11
powerline-status==2.8.2
progress==1.5
proj==0.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.9.1
ptyprocess==0.7.0
pwquality==1.4.4
pyaes==1.6.1
pyalpm==0.10.6
pyasn1==0.4.8
pycairo==1.20.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodomex==3.10.1
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.10.0
PyGObject==3.40.1
pygraphviz==1.6
PyHamcrest==2.0.2
PyJWT==2.1.0
pymemcache==3.5.0
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyproj==3.0.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.0
python-editor==1.0.4
python-mimeparse==1.6.0
python3-openid==3.2.0
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
qrcode==7.3
rados==2.0.0
rbd==2.0.0
Reflector==2021.7.8.19.52.52
requests==2.26.0
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rich==10.9.0
Send2Trash==1.8.0
service-identity==18.1.0
simplejson==3.17.5
six==1.16.0
soupsieve==2.2.1
speaklater==1.3
speedtest-cli==2.1.3
SQLAlchemy==1.3.23
sqlparse==0.4.1
sshtunnel==0.4.0
stem==1.8.0
tablib==3.0.0
team==1.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.4.4
testtools==2.5.0
text-unidecode==1.3
texttable==1.6.4
toml==0.10.2
tomli==1.2.1
tornado==6.1
traitlets==5.0.5
twilio==6.46.0
Twisted==20.3.0
txaio==20.12.1
typed-ast==1.4.3
typing-extensions==3.10.0.2
ufw==0.36
ujson==4.1.0
urllib3==1.26.6
uvicorn==0.15.0
uvloop==0.16.0
vine==5.0.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
WTForms==2.3.3
xcffib==0.11.1
xlrd==2.0.1
XlsxWriter==3.0.1
xlwt==1.3.0
yarl==1.6.3
youtube-dl==2021.6.6
zipp==3.5.0
zope.interface==5.2.0
